@font-face{
  font-family: "Viga";
  src: url("Viga/Viga-Regular.ttf");
}
*{
  font-family: "Viga";
}
body {
  margin: 0;
  font-family:Viag;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.div{
  background:white;
  filter:drop-shadow(2px 2px 4px rgb(31, 122, 241,0.5));
  display:grid;
  place-items:center;
  margin:auto;
  width:auto;
  border-radius:5px;
  padding:20px;
  border:solid rgb(31, 122, 241);
  text-align:center;
}
ul{
  list-style:decimal ;
}
input[type="text"]{
  border:solid 2px rgb(31, 122, 241);
  width: 200px;
  height: 25px;
  font-size:15px;
}
button{
  background:none;
  color:black;
  border:solid 2px rgb(31, 122, 241);
  margin:2px;
  height: 31px;
  font-size:15px;
  cursor: pointer;
}
button:hover{
  background:rgb(31, 122, 241);
  color:white;
}
li{
  list-style: none;
}
table{
  margin-top:20px;
  margin-bottom: 20px;
  color:black;
  border-collapse: collapse;
  width: auto;
  text-align:center;
  
}
th,td{
  padding:5px;
  border-bottom:solid 2px rgb(31, 122, 241);
}
td{
  border:none;
  max-width: 200px;
  word-wrap: break-word;
}
tbody:nth-child(even) {background-color: #f2f2f2;}